.div-label-visitante {
    color: #6A1B9A;
}
.label-visitante {
    margin-bottom: 10px;
}
.label-login-continuar {
    margin-top: 15px;
    margin-bottom: 10px;
}
.bem-vindo {
    font-size: 14px;
}
.label-center {
    text-align: center;
}